.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  padding: 16px;
}

.header {
  background-color: aliceblue;
  height: 40px;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.grid {
  position: relative;
}

.cellContainer {
  position: absolute;
  border: 1px dashed gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
